<ion-view title="活动列表" id="activityPage">
  <ion-nav-buttons side="right">
    <a class="button" href="#/account">我</a>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher
      pulling-text="loading more..."
      on-refresh="loadMore()">
    </ion-refresher>
    <ion-list>
      <ion-item class="activity-item" ng-repeat="activity in activitys.list">
        <div ng-include src="activityItemTemp"></div>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bottom-button" ng-click="create();">创建活动</div>
</ion-view>

<!-- ng-includes -->
<div ng-include src="activityFormTemp"></div>
