<ion-view title="{{activitys.pageName}}" id="activityPage">
  <ion-nav-buttons side="right">
    <a class="button" href="#/account">我</a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="activity-item" ng-repeat="activity in activitys.list">
        <div ng-include src="activityItemTemp"></div>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bottom-button" ng-click="create();">创建活动</div>
</ion-view>

<script id="activityCreateModel" type="text/ng-template">
  <div class="modal" id="activityModal">
    <ion-header-bar>
      <div class="buttons">
        <button class="button" ng-click="close()">关</button>
      </div>
      <h1 class="title">新建活动</h1>
    </ion-header-bar>
    <ion-content>
      <form name="form">
        <div class="list padding" style="margin-bottom: 0;">
          <label class="item item-input"><input type="text" placeholder="{{modelData.theme.name}}" ng-model="modelData.theme.info"></label>
          <label class="item item-input"><input type="text" placeholder="{{modelData.time.name}}" ng-model="modelData.time.info"></label>
          <label class="item item-input"><input type="text" placeholder="{{modelData.address.name}}" ng-model="modelData.address.info"></label>
          <label class="item item-select item-stacked-label">
            <select ng-options="list for list in modelData.number.list" ng-model="modelData.number.info">
              <option value="">{{modelData.number.tip}}</option>
            </select>
          </label>
          <label class="item item-input"><input type="text" placeholder="{{modelData.fee.name}}" ng-model="modelData.fee.info"></label>
          <label class="item item-select item-stacked-label">
            <select ng-options="list for list in modelData.club.list" ng-model="modelData.club.info">
              <option value="">{{modelData.club.tip}}</option>
            </select>
          </label>
          <label class="item item-select item-stacked-label">
            <select ng-options="list for list in modelData.type.list" ng-model="modelData.type.info">
              <option value="">{{modelData.type.tip}}</option>
            </select>
          </label>
          <label class="item item-input">
            <any class="input-label">是否公开</any>
            <any class="toggle">
              <input type="checkbox" ng-model="modelData.open.info">
              <any class="track">
                <any class="handle"></any>
              </any>
            </any>
          </label>
          <label class="item item-input">
            <textarea rows="5" cols="20" placeholder="备注"></textarea>
          </label>
        </div>
        <div class="padding">
          <button class="button button-block button-positive" ng-click="checkForm(modelData)">好</button>
        </div>
      </form>
    </ion-content>
  </div>
</script>

<!-- ng-includes -->
