<ion-view view-title="{{clubs.name}}" id="clubsPage">
  <ion-nav-buttons side="right">
    <a class="button" href="#/account">我</a>
  </ion-nav-buttons>
  <ion-content>
    <div class="padding">
      <div class="club-item" ng-repeat="club in clubs.list">
        <div ng-include src="clubItemTemp"></div>
      </div>
    </div>
  </ion-content>
  <div class="bottom-button" ng-click="create();">创建俱乐部</div>
</ion-view>

<script id="clubCreateModel" type="text/ng-template">
  <div class="modal" id="clubModel">
    <ion-header-bar>
      <div class="buttons">
        <button class="button" ng-click="close()">关</button>
      </div>
      <h1 class="title">新建俱乐部</h1>
    </ion-header-bar>
    <ion-content>
      <form name="form">
        <div class="list padding">
          <label class="item item-input"><input type="text" placeholder="{{modelData.name.name}}" ng-model="modelData.name.info"></label>
          <label class="item item-input"><input type="text" placeholder="{{modelData.time.name}}" ng-model="modelData.time.info"></label>
          <label class="item item-input"><input type="text" placeholder="{{modelData.area.name}}" ng-model="modelData.area.info"></label>
          <label class="item item-select item-stacked-label">
            <select ng-options="list for list in modelData.number.list" ng-model="modelData.number.info">
              <option value="">{{modelData.number.tip}}</option>
            </select>
          </label>
          <label class="item item-input">
            <textarea rows="5" cols="20" placeholder="{{modelData.extra.name}}" ng-model="modelData.extra.info"></textarea>
          </label>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="checkForm(modelData)">好</button>
          </div>
        </div>
      </form>
    </ion-content>
  </div>
</script>

<script id="clubCreateModels" type="text/ng-template">
  <div class="model" id="clubModel">
    <ion-header-bar>
      <div class="buttons">
        <button class="button" ng-click="close()">关</button>
      </div>
      <h1 class="title">新建俱乐部</h1>
    </ion-header-bar>
    <ion-content>
    123
    </ion-content>
  </div>
</script>
