#accountPage{
	.cover{
		position: relative;
		padding-top: 42%;
		overflow: hidden;
		background-color: rgba(0,0,0,0.5);
		>img{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
		}
	}
	.account-item{
		height: 40px;
		line-height: 40px;
		padding-left: 15px;
		color: #fff;
		background-color: rgba(0, 0, 0, 0.25);
		margin-top: 10px;
		font-weight: bold;
		display: block;
		text-decoration: none;
		>i{
			float: right;
			margin-right: 10px;
			color: #fff;
			font-size: 20px;
		}
	}
	.account-button{
		display: block;
		text-decoration: none;
		width: 90%;
		margin: 30px auto 0;
		background-color: @buttonColor;
		color: #fff;
		text-align: center;
		height: 40px;
		line-height: 40px;
		border-radius: 4px;
		font-size: 18px; 
	}
}

#accountLoginPage{
	.form-wrap{
		margin-top: 30px;
	}
	.title{
		font-size: 20px;
		font-weight: bold;
		color: #333;
		text-align: center;
		height: 22px;
		line-height: 22px;
		margin: 20px 0 10px 0;
	}
	.forget-psd, .register-now{
		text-decoration: underline;
		color: purple;
		font-size: 10px;
		padding: 5px 5px 5px 0;
	}
}