<div class="list-item" ng-repeat="activity in activity.list">
  <a href="javasctipt:void(0);">
    <img src="{{activity.cover}}" ng-if="activity.cover">
    <div class="list-msg" ng-show="activity.showdetail == false">
      <h2 class="text-overflow" ng-if="activity.desc">{{activity.desc}}</h2>
      <p>
        <em ng-if="activity.area">{{activity.area}}</em>
        <em ng-if="activity.time">{{activity.time}}</em>
      </p>
    </div>
    <div class="list-msg dark" ng-show="activity.showdetail == true">
      <h2 class="text-overflow">{{activity.desc}}</h2>
      <p>
        <em ng-if="activity.area">{{activity.area}}</em>
        <em ng-if="activity.time">{{activity.time}}</em>
        <em ng-if="activity.counter">{{activity.counter}}</em>
        <em ng-if="activity.fee">{{activity.fee}}</em>
        <em ng-if="activity.extra" class="extra">{{activity.extra}}</em>
      </p>
    </div>
    <i ng-class="{true: 'ion-ios-arrow-up', false: 'ion-ios-arrow-down'}[activity.showdetail==true]" ng-click="showDetail(activity)"></i>
  </a>
</div>
